html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
}

#webGeoLocation,
#nativeGeoLocation {
  position: relative;
  padding: 10px;
}
